<div class="auth">
  <h1><%- authType %></h1>

  <form action="" method="POST">
    <div>
      <label for="username"> Username </label>
      <br />
      <input name="username" type="text" required minlength="3"/>
    </div>

    <div>
      <label for="password"> Password </label>
      <br />
      <input name="password" type="password" minlength="6" required/>
    </div>

    <button><%- authType %></button>
  </form>
</div>
