<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Members Only</title>
  </head>
  <body>

    <%- include("header")%>

      <div class="create-msg">

        <h1>Create Message</h1>

        <form action="" method="POST">

          <div class="">
            <label for="title"> Title </label>
            <br />
            <input name="title" type="text" required />
          </div>

          <div class="">
            <label for="message"> Message </label>
            <br />
            <textarea name="message" required></textarea>
          </div>

          <button>Post Message</button>
        </form>
      </div>
    
    
  </body>
</html>
