<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <%- include("header")%>

    <div class="">
      <% if (user){ %>
      <div class="">Hello <%= user.username %>!</div>
      <%}%> <% msgs.forEach(msg => { %> <%- include("message", {msg: msg}) %> <%
      }) %>
    </div>

  </body>
</html>
